/* Sets the background image */
body {
  font-family: sans-serif;
  background-image: url(https://i.guim.co.uk/img/media/5a8137ea1b7001b3c90488cdfd59288d62f8d464/0_89_5035_3018/master/5035.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=c5d7d09a08dd5352fc0b01ae32846a5b);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
