/* Sets the background image */
body {
  font-family: sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/11/09/11/books-2630076_960_720.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
